.header {
    --header-color: white;
    --header-background-color: rgb(0, 0, 128);
    --header-padding: calc(var(--space) * 1) calc(var(--space) * 2);
    --header-gap: calc(var(--space) * 2);
    --header-icon-width: 24px;
    --header-icon-height: 24px;

    display: flex;
    align-items: center;
    gap: var(--header-gap);
    padding: var(--header-padding);
    font-family: var(--font-bold);
    color: var(--header-color);
    background-color: var(--header-background-color);
}

.headerIcon {
    width: var(--header-icon-width);
    height: var(--header-icon-height);
    display: block;
}