:root {
  --background: #008080;
  --foreground: #000;

  --space: 0.25rem;
  --size: 0.25rem;

  --button-outline-color: #000;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  --font: var(--font-w95);
  --font-bold: var(--font-w95-bold);

  color: var(--foreground);
  background: var(--background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, button, input, select {
  font-family: var(--font);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input:hover,
input:focus-visible,
input:focus {
  box-shadow: none;
  outline: none;
}

button {
  cursor: pointer;
}

button:focus-visible,
button:focus,
select:focus-visible,
select:focus {
  box-shadow: none;
  outline: 2px dotted var(--button-outline-color);
}
