.main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.window {
    --window-border: 2px solid;
    --window-border-left-color: rgb(191, 191, 191);
    --window-border-top-color: rgb(191, 191, 191);
    --window-border-right-color: rgb(16, 16, 16);
    --window-border-bottom-color: rgb(16, 16, 16);
    --window-background-color: #c0c0c0;
    --window-box-shadow: inset -2px -2px 0px 0px rgb(132, 133, 132);

    padding: 2px;
    border: var(--window-border);
    width: clamp(300px, calc(100vw - var(--space) * 10), 500px);
    background-color: var(--window-background-color);
    border-left-color: var(--window-border-left-color);
    border-top-color: var(--window-border-top-color);
    border-right-color: var(--window-border-right-color);
    border-bottom-color: var(--window-border-bottom-color);
    box-shadow: var(--window-box-shadow);
}
