.label {
    --label-color: #000;
    --label-padding: 0;
    --label-font-size: 1.125rem;

    width: calc(var(--space) * 25);
    padding: var(--label-padding);
    font-size: var(--label-font-size);
    color: var(--label-color);
}