.passwordToggleButton {
    position: absolute;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--space) * 10);
    height: calc(var(--space) * 10);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #000;
}

.passwordToggleButton svg {
    width:  calc(var(--space) * 5);
    height:  calc(var(--space) * 5);
    outline-offset: -4px;
}
